@model IEnumerable<RestaurantManager.Models.MenuItem>
@{
    ViewData["Title"] = "Menus";
}
@if (ViewData["RestaurantName"] != null)
{
    // User has selected a restaurant menu
    // from the main gallery.
    <h2>@ViewData["RestaurantName"]</h2><br />
    <h4>@ViewData["Appetizer"]</h4><hr />
    @foreach (var appetizer in Model)
    {
        @switch (appetizer.FoodType)
        {
            case FoodType.Appetizer:
                <p>@Html.DisplayFor(model => appetizer.FoodName) @Html.DisplayFor(model => appetizer.FoodPrice)</p>
                break;
        }
    }
    <br />
    <h4>@ViewData["Entree"]</h4><hr />
    @foreach (var entree in Model)
    {
        @switch (entree.FoodType)
        {
            case FoodType.Entree:
                <p>@Html.DisplayFor(model => entree.FoodName) @Html.DisplayFor(model => entree.FoodPrice)</p>
                break;
        }
    }
    <br />
    <h4>@ViewData["Dessert"]</h4><hr />
    @foreach (var dessert in Model)
    {
        @switch (dessert.FoodType)
        {
            case FoodType.Dessert:
                <p>@Html.DisplayFor(model => dessert.FoodName) @Html.DisplayFor(model => dessert.FoodPrice)</p>
                break;
        }
    }
    <br />
    <h4>@ViewData["Drink"]</h4><hr />
    @foreach (var drink in Model)
    {
        @switch (drink.FoodType)
        {
            case FoodType.Drink:
                <p>@Html.DisplayFor(model => drink.FoodName) @Html.DisplayFor(model => drink.FoodPrice)</p>
                break;

        }
    }
}
else
{
    // Display all menu items with option
    // to filter results returned.
    <h2>All Menu Items</h2>
    <h3>Filter Items</h3>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Filter by restaurant: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
                @if (String.ReferenceEquals((String)ViewData["filterCheck"], "true"))
                {
                <p class="text-danger">Invalid search term. Displaying all items.</p>
                }
            </div>
        </form>
        <p>
            <a asp-action="Create">Add menu item.</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.MenuLocation)*@
                        Location
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.FoodName)*@
                        Name
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.FoodType)*@
                        Type
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.FoodPrice)*@
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string restaurantName = "";
                    @switch (item.MenuLocation)
                    {
                        case (RestaurantManager.Models.RestaurantMenu.LP):
                            restaurantName = "La Pizza";
                            break;
                        case (RestaurantManager.Models.RestaurantMenu.LPF):
                            restaurantName = "Le Poulet Frise";
                            break;
                        case (RestaurantManager.Models.RestaurantMenu.DRE):
                            restaurantName = "Den Rosa Elefanten";
                            break;
                    }
                    <tr>
                        <td>
                            @Html.DisplayName(restaurantName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodPrice)
                        </td>
                        <td>
                            <a asp - action="Edit" asp-route-id="@item.MenuItemID"> Edit </a> |
                            <a asp - action="Details" asp-route-id="@item.MenuItemID"> Details </a> |
                            <a asp - action="Delete" asp-route-id="@item.MenuItemID"> Delete </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}
